name: My first workflow

on: [push]

jobs:
  my-first-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create test file
        run: |
          echo "Hello from GitHub Actions from nikhil" > test.txt
          ls -la

      - name: Upload test file to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          source: "test.txt"
          target: "~/"
