name: My first workflow

on: [push]
jobs:
  my-first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Upload release
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY}}
          port: ${{ secrets.VPS_PORT || 22 }}
